week 9/real-time-logistics-data-pipeline/nifi/flow_export/NiFi_Flow.json
{"flowContents":{"identifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976","instanceIdentifier":"36df070a-019e-1000-b5e1-afe233a23e9e","name":"NiFi_Flow","comments":"","position":{"x":-2.0,"y":-133.8000030517578},"processGroups":[{"identifier":"805aa015-0b29-3ad2-b0be-cc853b890656","instanceIdentifier":"02f77105-addd-3434-3929-84640a2b275d","name":"01_File_Ingestion","comments":"","position":{"x":-544.0,"y":-8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"08a5d509-5274-3c7e-b3d7-e6dce54cc7c6","instanceIdentifier":"b222e20d-e285-3724-e4c4-4fbc6bc79ed7","name":"ListFile","comments":"","position":{"x":-424.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"10 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"false","File Filter":".*\\.csv$","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/opt/data_input","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"5 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"9807c765-80d3-383d-82da-e9d931e10477","instanceIdentifier":"c6e5e8b2-0873-31ab-176e-1e756ae02b1b","name":"LogAttribute","comments":"","position":{"x":360.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"fecacabb-9dc7-3ad8-a62d-0894755cbe9a","instanceIdentifier":"327916da-61aa-3a96-6a27-557ecb8a8608","name":"UpdateAttribute","comments":"","position":{"x":-416.0,"y":96.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"pipeline_stage":"ingestion","Delete Attributes Expression":null,"original_filename":"${filename}","ingest_time":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","Store State":"Do not store state","source_system":"python_logistics_generator","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"pipeline_stage":{"name":"pipeline_stage","displayName":"pipeline_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"original_filename":{"name":"original_filename","displayName":"original_filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ingest_time":{"name":"ingest_time","displayName":"ingest_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source_system":{"name":"source_system","displayName":"source_system","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"7f85d2bc-da4c-3103-8a2c-8f7cf1cf4e46","instanceIdentifier":"9de59e60-4373-3d3f-3b40-d0b521f525e2","name":"LogAttribute","comments":"","position":{"x":368.0,"y":16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"49d346dc-d883-35f9-a7c8-9a5148f536e0","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b","name":"FetchFile","comments":"","position":{"x":-416.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"56233762-7882-3a5c-a042-3734b57fb165","instanceIdentifier":"cc7d5f4f-5140-3dec-429b-d2b9d28eaee5","name":"LogAttribute","comments":"","position":{"x":368.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"}],"inputPorts":[],"outputPorts":[{"identifier":"ddfa7767-8255-3d70-961e-85d80be23b3a","instanceIdentifier":"f79c2b75-b9ff-3e55-2bc0-bccbaf6fbd49","name":"to_chunking","position":{"x":296.0,"y":224.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"}],"connections":[{"identifier":"cd0afd35-a861-3353-a883-c2e3f3cbd0bc","instanceIdentifier":"5c824782-cc02-39d5-db67-2a0145a3f389","name":"","source":{"id":"49d346dc-d883-35f9-a7c8-9a5148f536e0","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"FetchFile","comments":"","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b"},"destination":{"id":"9807c765-80d3-383d-82da-e9d931e10477","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"LogAttribute","comments":"","instanceIdentifier":"c6e5e8b2-0873-31ab-176e-1e756ae02b1b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"642eca48-83bb-38a3-a92c-04666ffa9928","instanceIdentifier":"741612cf-ef17-37f5-cf0c-1da0517e5cb1","name":"","source":{"id":"49d346dc-d883-35f9-a7c8-9a5148f536e0","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"FetchFile","comments":"","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b"},"destination":{"id":"7f85d2bc-da4c-3103-8a2c-8f7cf1cf4e46","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"LogAttribute","comments":"","instanceIdentifier":"9de59e60-4373-3d3f-3b40-d0b521f525e2"},"labelIndex":0,"zIndex":6,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"9c0bbc72-83b6-387b-993a-382d1d49da9a","instanceIdentifier":"9abf9372-28f0-380e-a324-a6174cd2c489","name":"","source":{"id":"fecacabb-9dc7-3ad8-a62d-0894755cbe9a","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"UpdateAttribute","comments":"","instanceIdentifier":"327916da-61aa-3a96-6a27-557ecb8a8608"},"destination":{"id":"ddfa7767-8255-3d70-961e-85d80be23b3a","type":"OUTPUT_PORT","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"to_chunking","instanceIdentifier":"f79c2b75-b9ff-3e55-2bc0-bccbaf6fbd49"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"91a55942-ebfd-3bed-acf9-f4591eb1e1f3","instanceIdentifier":"3957c274-be15-3007-6413-82f34e97841c","name":"","source":{"id":"49d346dc-d883-35f9-a7c8-9a5148f536e0","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"FetchFile","comments":"","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b"},"destination":{"id":"56233762-7882-3a5c-a042-3734b57fb165","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"LogAttribute","comments":"","instanceIdentifier":"cc7d5f4f-5140-3dec-429b-d2b9d28eaee5"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"3a4e5712-36ac-3710-833f-0334649c2a37","instanceIdentifier":"d19b62df-2d13-378b-1798-7d476dd244b2","name":"","source":{"id":"49d346dc-d883-35f9-a7c8-9a5148f536e0","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"FetchFile","comments":"","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b"},"destination":{"id":"fecacabb-9dc7-3ad8-a62d-0894755cbe9a","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"UpdateAttribute","comments":"","instanceIdentifier":"327916da-61aa-3a96-6a27-557ecb8a8608"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"},{"identifier":"11aef8c1-c7b7-3329-8890-1d2780560eff","instanceIdentifier":"6b3deda1-d0c5-3e97-ae74-590ddc641ea5","name":"","source":{"id":"08a5d509-5274-3c7e-b3d7-e6dce54cc7c6","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"ListFile","comments":"","instanceIdentifier":"b222e20d-e285-3724-e4c4-4fbc6bc79ed7"},"destination":{"id":"49d346dc-d883-35f9-a7c8-9a5148f536e0","type":"PROCESSOR","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"FetchFile","comments":"","instanceIdentifier":"edfeacda-a55e-346e-86bd-9821d2a2679b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"805aa015-0b29-3ad2-b0be-cc853b890656"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"},{"identifier":"c36529bb-0e45-3ede-b683-265767545521","instanceIdentifier":"7e39ab33-3152-379c-3319-51df5f2e44a8","name":"04_Kafka_Streaming","comments":"","position":{"x":0.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"366f85a8-00ef-38f6-963e-4f6c704f8f63","instanceIdentifier":"44c7c462-a410-3cb9-50f6-735341a035fc","name":"ConsumeKafka","comments":"","position":{"x":-360.0,"y":-488.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"Topics":"logistics-clean","Commit Offsets":"true","Header Name Pattern":null,"Header Name Prefix":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"0ebc7a9a-b9e6-3ee0-81c2-9eb311403197","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"nifi-logistics-hdfs-consumer","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Prefix":{"name":"Header Name Prefix","displayName":"Header Name Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"3e5b99e2-305f-3e4d-a295-d7894fbf9521","instanceIdentifier":"37224463-019e-1000-5090-1320bbfab828","name":"LogAttribute","comments":"","position":{"x":824.0,"y":128.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"37676593-019e-1000-aff7-11fa7595c917","instanceIdentifier":"060f5d46-d4fd-3488-9637-5dda1984fd42","name":"LogAttribute","comments":"","position":{"x":-24.0,"y":256.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"3763dab9-019e-1000-f965-a0269060cc4c","instanceIdentifier":"bb520faa-7efb-3b6e-ff44-a0f26b79509d","name":"Set_Error_Metadata","comments":"","position":{"x":800.0,"y":-296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"error_time":"${now():format('yyyy-MM-dd HH:mm:ss')}","Delete Attributes Expression":null,"filename":"error_${failed_stage}_${now():format('yyyyMMdd_HHmmss')}_${UUID()}.json","Store State":"Do not store state","failed_stage":"kafka_hdfs_storage_merge","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"error_time":{"name":"error_time","displayName":"error_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failed_stage":{"name":"failed_stage","displayName":"failed_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"7e6b853c-9de9-3636-a8e6-7b3a397b03c2","instanceIdentifier":"371d315d-019e-1000-92d4-d119d46fb245","name":"MergeContent","comments":"","position":{"x":272.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Metadata Strategy":"Do Not Merge Uncommon Metadata","Keep Path":"false","Maximum Group Size":"5 MB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"500","Maximum Number of Bins":"5","Minimum Group Size":"1 MB","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Header":null,"Merge Format":"Binary Concatenation","Max Bin Age":null,"Footer":null,"Correlation Attribute Name":null,"Demarcator":"${literal('\\n')}","Bin Termination Check":null,"Minimum Number of Entries":"100"},"propertyDescriptors":{"Metadata Strategy":{"name":"Metadata Strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Bins":{"name":"Maximum Number of Bins","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header":{"name":"Header","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer":{"name":"Footer","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator":{"name":"Demarcator","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"c584d99a-f0c0-3945-8399-23c2a98bf46d","instanceIdentifier":"88e72c35-f0a8-366c-de72-f79f2d3bdc3c","name":"PutHDFS","comments":"","position":{"x":-384.0,"y":-184.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/hadoop_conf/core-site.xml,/opt/hadoop_conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/data/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"37672a06-019e-1000-9566-f2c13e3bdc21","instanceIdentifier":"d51eec56-4a22-3d38-91e9-8b43a1d02a42","name":"PutHDFS_Errors","comments":"","position":{"x":256.0,"y":40.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/hadoop_conf/core-site.xml,/opt/hadoop_conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/errors/stage=${failed_stage}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"3765299d-019e-1000-cb1d-88a3ae28580c","instanceIdentifier":"6b6783ba-0610-38e8-ea2e-870a5b59378d","name":"PutHDFS_Errors","comments":"","position":{"x":824.0,"y":-80.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/hadoop_conf/core-site.xml,/opt/hadoop_conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/errors/stage=${failed_stage}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"37665440-019e-1000-a91e-58fa29a3fcf3","instanceIdentifier":"d3599612-a53f-38fd-616d-ce63eac4b49f","name":"Set_Error_Metadata","comments":"","position":{"x":-384.0,"y":56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"error_time":"${now():format('yyyy-MM-dd HH:mm:ss')}","Delete Attributes Expression":null,"filename":"error_${failed_stage}_${now():format('yyyyMMdd_HHmmss')}_${UUID()}.json","Store State":"Do not store state","failed_stage":"kafka_hdfs_storage","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"error_time":{"name":"error_time","displayName":"error_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failed_stage":{"name":"failed_stage","displayName":"failed_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"0a5f2867-c6a0-340a-b8ed-8eba7aa1f6e6","instanceIdentifier":"372152f7-019e-1000-b6d9-461937ec48f5","name":"UpdateAttribute","comments":"","position":{"x":288.0,"y":-192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"filename":"logistics_${now():format('yyyyMMdd_HHmmss')}_${UUID()}.json","Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e1c17413-b6a2-33d6-952a-877130d6db9f","instanceIdentifier":"37218238-019e-1000-d8a4-33fdd440ade0","name":"","source":{"id":"7e6b853c-9de9-3636-a8e6-7b3a397b03c2","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"MergeContent","comments":"","instanceIdentifier":"371d315d-019e-1000-92d4-d119d46fb245"},"destination":{"id":"0a5f2867-c6a0-340a-b8ed-8eba7aa1f6e6","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"UpdateAttribute","comments":"","instanceIdentifier":"372152f7-019e-1000-b6d9-461937ec48f5"},"labelIndex":0,"zIndex":4,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"641955d1-cf0c-31be-b483-e6fe613bf3b1","instanceIdentifier":"371d4736-019e-1000-7994-5b33482b79cb","name":"","source":{"id":"366f85a8-00ef-38f6-963e-4f6c704f8f63","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"ConsumeKafka","comments":"","instanceIdentifier":"44c7c462-a410-3cb9-50f6-735341a035fc"},"destination":{"id":"7e6b853c-9de9-3636-a8e6-7b3a397b03c2","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"MergeContent","comments":"","instanceIdentifier":"371d315d-019e-1000-92d4-d119d46fb245"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"23200a25-d677-3853-acd4-51cb66f43d66","instanceIdentifier":"3767c3e2-019e-1000-4e1c-2cc50d822899","name":"","source":{"id":"37672a06-019e-1000-9566-f2c13e3bdc21","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"d51eec56-4a22-3d38-91e9-8b43a1d02a42"},"destination":{"id":"37676593-019e-1000-aff7-11fa7595c917","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"LogAttribute","comments":"","instanceIdentifier":"060f5d46-d4fd-3488-9637-5dda1984fd42"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"0fd36ef4-b863-3e3e-b660-d6c778fdcb3b","instanceIdentifier":"3766fa66-019e-1000-e957-d7f7b87858d2","name":"","source":{"id":"c584d99a-f0c0-3945-8399-23c2a98bf46d","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS","comments":"","instanceIdentifier":"88e72c35-f0a8-366c-de72-f79f2d3bdc3c"},"destination":{"id":"37665440-019e-1000-a91e-58fa29a3fcf3","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"d3599612-a53f-38fd-616d-ce63eac4b49f"},"labelIndex":0,"zIndex":9,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"54ea9b2f-d266-3765-a59f-a87b383bf772","instanceIdentifier":"37656fbe-019e-1000-f882-019dfc74903f","name":"","source":{"id":"3765299d-019e-1000-cb1d-88a3ae28580c","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"6b6783ba-0610-38e8-ea2e-870a5b59378d"},"destination":{"id":"3e5b99e2-305f-3e4d-a295-d7894fbf9521","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"LogAttribute","comments":"","instanceIdentifier":"37224463-019e-1000-5090-1320bbfab828"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"54a2a170-4885-3f55-8509-8e625e9334ec","instanceIdentifier":"37654b0b-019e-1000-b798-7018392876e5","name":"","source":{"id":"3763dab9-019e-1000-f965-a0269060cc4c","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"bb520faa-7efb-3b6e-ff44-a0f26b79509d"},"destination":{"id":"3765299d-019e-1000-cb1d-88a3ae28580c","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"6b6783ba-0610-38e8-ea2e-870a5b59378d"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"00b6ed25-acdf-3d4e-b4ae-fef6de6d4290","instanceIdentifier":"376405f9-019e-1000-7f59-3d6f74a08ddd","name":"","source":{"id":"7e6b853c-9de9-3636-a8e6-7b3a397b03c2","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"MergeContent","comments":"","instanceIdentifier":"371d315d-019e-1000-92d4-d119d46fb245"},"destination":{"id":"3763dab9-019e-1000-f965-a0269060cc4c","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"bb520faa-7efb-3b6e-ff44-a0f26b79509d"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"0fe03480-6be5-3d70-95a8-c1829053faa0","instanceIdentifier":"376744aa-019e-1000-e954-80490863f8d3","name":"","source":{"id":"37665440-019e-1000-a91e-58fa29a3fcf3","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"d3599612-a53f-38fd-616d-ce63eac4b49f"},"destination":{"id":"37672a06-019e-1000-9566-f2c13e3bdc21","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"d51eec56-4a22-3d38-91e9-8b43a1d02a42"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"},{"identifier":"e106857f-cde2-3355-915c-9ec3fee77bcd","instanceIdentifier":"3721efdb-019e-1000-a72f-3ed51a72dfd3","name":"","source":{"id":"0a5f2867-c6a0-340a-b8ed-8eba7aa1f6e6","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"UpdateAttribute","comments":"","instanceIdentifier":"372152f7-019e-1000-b6d9-461937ec48f5"},"destination":{"id":"c584d99a-f0c0-3945-8399-23c2a98bf46d","type":"PROCESSOR","groupId":"c36529bb-0e45-3ede-b683-265767545521","name":"PutHDFS","comments":"","instanceIdentifier":"88e72c35-f0a8-366c-de72-f79f2d3bdc3c"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0ebc7a9a-b9e6-3ee0-81c2-9eb311403197","instanceIdentifier":"636219c7-84bf-3dfc-9a51-7e1c94479b5a","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.9.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka1:19092,kafka2:19093,kafka3:19094","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c36529bb-0e45-3ede-b683-265767545521"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"},{"identifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","instanceIdentifier":"e9f23ebb-8244-329c-edd3-8ac29435e0ad","name":"03_Data_Transformation","comments":"","position":{"x":-16.0,"y":-8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c8cc7953-725d-3adf-9bad-cd83ae0bf0ad","instanceIdentifier":"3752615c-019e-1000-60e4-f9dbe40c23d8","name":"LogAttribute","comments":"","position":{"x":-896.0,"y":872.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"cd55661a-0a55-3e54-946a-46838cbc0f11","instanceIdentifier":"8552e62b-54b9-38d5-8329-7968de3a6014","name":"LogAttribute","comments":"","position":{"x":-840.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141","name":"QueryRecord","comments":"","position":{"x":272.0,"y":112.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"missing_vlaues":"SELECT * FROM FLOWFILE \nWHERE city IS NULL OR city = '' \n   OR shipment_status IS NULL OR shipment_status = ''","invalid_weight":"SELECT * FROM FLOWFILE WHERE package_weight_kg < 0","Include Zero Record FlowFiles":"false","clean_records":"SELECT * FROM FLOWFILE \nWHERE package_weight_kg >= 0 \n  AND city IS NOT NULL AND city <> '' \n  AND shipment_status IS NOT NULL AND shipment_status <> ''","Default Decimal Scale":"6","duplicate_shipments":"SELECT shipment_id, COUNT(*) AS duplicate_count\nFROM FLOWFILE\nGROUP BY shipment_id\nHAVING COUNT(*) > 1","Record Writer":"77f5aab3-6f0c-3fea-8c5c-e7ba54cde242","Record Reader":"68745137-500f-3533-819f-9bf42fb92057","Default Decimal Precision":"10"},"propertyDescriptors":{"missing_vlaues":{"name":"missing_vlaues","displayName":"missing_vlaues","identifiesControllerService":false,"sensitive":false,"dynamic":true},"invalid_weight":{"name":"invalid_weight","displayName":"invalid_weight","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"clean_records":{"name":"clean_records","displayName":"clean_records","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"duplicate_shipments":{"name":"duplicate_shipments","displayName":"duplicate_shipments","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"985b4ea0-7f20-38bc-a746-b22667f2a420","instanceIdentifier":"b9c09bb5-8949-34e4-6d2e-8264b1cef96b","name":"LogAttribute","comments":"","position":{"x":1080.0,"y":0.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"3f608325-111b-32ea-8035-88ce83b83f6b","instanceIdentifier":"356051e3-fc5c-3e01-2663-f1a72ceccd14","name":"LogAttribute","comments":"","position":{"x":232.0,"y":704.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"37606a84-019e-1000-c2f5-76b825f780c0","instanceIdentifier":"84d32809-867e-3559-42f3-d9a1736032ba","name":"Set_Error_Metadata","comments":"","position":{"x":800.0,"y":392.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"error_time":"${now():format('yyyy-MM-dd HH:mm:ss')}","Delete Attributes Expression":null,"filename":"error_${failed_stage}_${now():format('yyyyMMdd_HHmmss')}_${UUID()}.json","Store State":"Do not store state","failed_stage":"transformation-missing-and-invalid","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"error_time":{"name":"error_time","displayName":"error_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failed_stage":{"name":"failed_stage","displayName":"failed_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"d966c9b7-25df-3b8d-af47-d2fbad01fe44","instanceIdentifier":"c55a4260-166a-3864-c71b-614da3530319","name":"LogAttribute","comments":"","position":{"x":1088.0,"y":192.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"551d0247-9658-3079-838c-4ce9a860adda","instanceIdentifier":"be4f5c2e-4408-3bd9-e98e-e42fa259db6e","name":"UpdateRecord","comments":"","position":{"x":160.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"/package_weight_kg":"${field.value:replace('N/A','0')}","/speed_kmh":"${field.value:replace('N/A','0')}","/driver_id":"${field.value:replace('UNKNOWN','null')}","Record Writer":"77f5aab3-6f0c-3fea-8c5c-e7ba54cde242","/processing_stage":"transformed","Record Reader":"68745137-500f-3533-819f-9bf42fb92057","/data_source":"smart_logistics_generator","/processed_by":"apache_nifi","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/package_weight_kg":{"name":"/package_weight_kg","displayName":"/package_weight_kg","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/speed_kmh":{"name":"/speed_kmh","displayName":"/speed_kmh","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/driver_id":{"name":"/driver_id","displayName":"/driver_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/processing_stage":{"name":"/processing_stage","displayName":"/processing_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/data_source":{"name":"/data_source","displayName":"/data_source","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/processed_by":{"name":"/processed_by","displayName":"/processed_by","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"d7d2b40a-3b14-3528-8610-36dbbe73eff3","instanceIdentifier":"28d1128d-044e-319f-edc6-7b41ddccbf75","name":"LogAttribute","comments":"","position":{"x":1472.0,"y":840.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"3752f40b-019e-1000-2b70-00eb43a26889","instanceIdentifier":"14101397-5c00-3530-b0c4-75b39f354ac1","name":"PutHDFS_Errors","comments":"","position":{"x":1192.0,"y":608.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/hadoop_conf/core-site.xml,/opt/hadoop_conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/errors/stage=${failed_stage}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"56f56d61-e3bd-386f-a70b-08628325971d","instanceIdentifier":"374c2ddc-019e-1000-8ca4-7a143c521af8","name":"PutHDFS_Errors","comments":"","position":{"x":-904.0,"y":608.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/hadoop_conf/core-site.xml,/opt/hadoop_conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/errors/stage=${failed_stage}/year=${now():format('yyyy')}/month=${now():format('MM')}/day=${now():format('dd')}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"e3de2aed-43ec-3f76-966a-25ff09451b7b","instanceIdentifier":"faa207ce-0e8a-360d-f9b9-44ef21a11ac9","name":"PublishKafka","comments":"","position":{"x":240.0,"y":416.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":"68745137-500f-3533-819f-9bf42fb92057","Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"logistics-clean","Kafka Key":null,"partition":null,"Kafka Connection Service":"a9456893-5fbe-3afb-b90a-fd4950632d49","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":"77f5aab3-6f0c-3fea-8c5c-e7ba54cde242","Transactions Enabled":"false","Message Key Field":"/vehicle_id","FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"d5db5203-a6b2-3189-9059-1daacbdd4f73","instanceIdentifier":"e37d61c7-97e0-3770-096f-4f16307ff415","name":"ValidateRecord","comments":"","position":{"x":-496.0,"y":96.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Force Types From Reader Schema":"false","Schema Text":"${avro.schema}","Maximum Validation Details Length":"1024","Record Writer for Invalid Records":null,"Record Reader":"93871ba9-076c-361a-b41e-65cf89076dfa","Schema Registry":null,"Schema Access Strategy":"reader-schema","Schema Name":"${schema.name}","Allow Extra Fields":"true","Strict Type Checking":"true","Record Writer":"b32ee9e7-8842-3033-8d71-2aa210579eee","Schema Version":null,"Validation Details Attribute Name":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Force Types From Reader Schema":{"name":"Force Types From Reader Schema","displayName":"Force Types From Reader Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Validation Details Length":{"name":"Maximum Validation Details Length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer for Invalid Records":{"name":"Record Writer for Invalid Records","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Extra Fields":{"name":"Allow Extra Fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Type Checking":{"name":"Strict Type Checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Details Attribute Name":{"name":"Validation Details Attribute Name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"d9e32f6e-cc78-3e04-98c2-94f13654acb4","instanceIdentifier":"000b33e9-3329-3885-ebbb-2d11a88aac2e","name":"LogAttribute","comments":"","position":{"x":-472.0,"y":712.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"a739095f-3ae2-3b17-844f-5e5849a57820","instanceIdentifier":"92d22464-4d1b-31be-d88c-14295be411cf","name":"ConvertRecord","comments":"","position":{"x":-384.0,"y":448.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"cc9fdd19-cde0-3727-b012-8e2f8e25a78b","Record Reader":"93871ba9-076c-361a-b41e-65cf89076dfa"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"b085fd97-2594-3ec5-8ef8-1cdbc743cfe7","instanceIdentifier":"17d62141-4af1-3843-6e6f-9b8cdbc55f4a","name":"LogAttribute","comments":"","position":{"x":1096.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"c25b0d36-61d4-35df-b38d-4223e3959784","instanceIdentifier":"374b64d0-019e-1000-1b42-765370c5a5d4","name":"Set_Error_Metadata","comments":"","position":{"x":-832.0,"y":320.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"error_time":"${now():format('yyyy-MM-dd HH:mm:ss')}","Delete Attributes Expression":null,"filename":"error_${failed_stage}_${now():format('yyyyMMdd_HHmmss')}_${UUID()}.json","Store State":"Do not store state","failed_stage":"transformation","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"error_time":{"name":"error_time","displayName":"error_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"failed_stage":{"name":"failed_stage","displayName":"failed_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"}],"inputPorts":[{"identifier":"d580cfe6-a730-328b-bd61-b80a782f8d50","instanceIdentifier":"12a42257-646a-3290-9af2-b5bc6de865fe","name":"transformation_input","position":{"x":-456.0,"y":-264.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"}],"outputPorts":[],"connections":[{"identifier":"6f1352dd-1751-34a5-9895-408b566e751b","instanceIdentifier":"076eefd2-ac0e-3107-a8e1-834ca38ec638","name":"","source":{"id":"e3de2aed-43ec-3f76-966a-25ff09451b7b","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PublishKafka","comments":"","instanceIdentifier":"faa207ce-0e8a-360d-f9b9-44ef21a11ac9"},"destination":{"id":"3f608325-111b-32ea-8035-88ce83b83f6b","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"356051e3-fc5c-3e01-2663-f1a72ceccd14"},"labelIndex":0,"zIndex":20,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"61a4783a-1512-372f-b8ca-5319ebba70c8","instanceIdentifier":"37476fca-019e-1000-e824-d3153b48d41b","name":"","source":{"id":"cd55661a-0a55-3e54-946a-46838cbc0f11","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"8552e62b-54b9-38d5-8329-7968de3a6014"},"destination":{"id":"cd55661a-0a55-3e54-946a-46838cbc0f11","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"8552e62b-54b9-38d5-8329-7968de3a6014"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-648.0,"y":-224.0},{"x":-363.0,"y":-87.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"8e636ace-fe50-3e71-ac54-acacb13097a2","instanceIdentifier":"371b7213-019e-1000-e789-803ebfb513c7","name":"","source":{"id":"a739095f-3ae2-3b17-844f-5e5849a57820","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ConvertRecord","comments":"","instanceIdentifier":"92d22464-4d1b-31be-d88c-14295be411cf"},"destination":{"id":"551d0247-9658-3079-838c-4ce9a860adda","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"UpdateRecord","comments":"","instanceIdentifier":"be4f5c2e-4408-3bd9-e98e-e42fa259db6e"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"5e7bb0aa-2df4-3106-9220-aca570607f98","instanceIdentifier":"37600be9-019e-1000-cb3d-e68eaf202869","name":"","source":{"id":"c25b0d36-61d4-35df-b38d-4223e3959784","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"374b64d0-019e-1000-1b42-765370c5a5d4"},"destination":{"id":"56f56d61-e3bd-386f-a70b-08628325971d","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"374c2ddc-019e-1000-8ca4-7a143c521af8"},"labelIndex":0,"zIndex":39,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"ccd6d01b-c317-35e2-bd1c-17a9595ee9b7","instanceIdentifier":"37496521-019e-1000-bfa4-42d1c4cc1df6","name":"","source":{"id":"b085fd97-2594-3ec5-8ef8-1cdbc743cfe7","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"17d62141-4af1-3843-6e6f-9b8cdbc55f4a"},"destination":{"id":"b085fd97-2594-3ec5-8ef8-1cdbc743cfe7","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"17d62141-4af1-3843-6e6f-9b8cdbc55f4a"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1360.0,"y":-72.0},{"x":1573.0,"y":-167.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"d93ee7a3-1472-3e69-a4a4-26d8be329ad5","instanceIdentifier":"3749bddf-019e-1000-44c0-6959d5c4d5d1","name":"","source":{"id":"d966c9b7-25df-3b8d-af47-d2fbad01fe44","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"c55a4260-166a-3864-c71b-614da3530319"},"destination":{"id":"d966c9b7-25df-3b8d-af47-d2fbad01fe44","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"c55a4260-166a-3864-c71b-614da3530319"},"labelIndex":1,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1573.1744384765625,"y":229.19638061523438},{"x":1351.3017578125,"y":390.37091064453125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"06bf0bce-bae3-3215-814c-81a0e6e75d04","instanceIdentifier":"83160273-143e-33ae-35ed-0a68df9a5234","name":"","source":{"id":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"QueryRecord","comments":"","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141"},"destination":{"id":"d966c9b7-25df-3b8d-af47-d2fbad01fe44","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"c55a4260-166a-3864-c71b-614da3530319"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"dbb520cf-4815-328a-8fc3-d74ac29f0815","instanceIdentifier":"374a81ac-019e-1000-0a85-7b2d3c82b392","name":"","source":{"id":"3f608325-111b-32ea-8035-88ce83b83f6b","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"356051e3-fc5c-3e01-2663-f1a72ceccd14"},"destination":{"id":"3f608325-111b-32ea-8035-88ce83b83f6b","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"356051e3-fc5c-3e01-2663-f1a72ceccd14"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":708.9783935546875,"y":739.7084350585938},{"x":708.9783935546875,"y":789.7084350585938}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"027f2588-2e7c-335f-8fbb-e55f20f9db46","instanceIdentifier":"b7ff11a9-d06e-3943-bb2c-06417ffb349d","name":"","source":{"id":"551d0247-9658-3079-838c-4ce9a860adda","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"UpdateRecord","comments":"","instanceIdentifier":"be4f5c2e-4408-3bd9-e98e-e42fa259db6e"},"destination":{"id":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"QueryRecord","comments":"","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"ac9bbeb4-efa4-3fae-af2f-ce6db42cce47","instanceIdentifier":"37555648-019e-1000-3695-e6bedb5a7983","name":"","source":{"id":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"QueryRecord","comments":"","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141"},"destination":{"id":"985b4ea0-7f20-38bc-a746-b22667f2a420","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"b9c09bb5-8949-34e4-6d2e-8264b1cef96b"},"labelIndex":0,"zIndex":35,"selectedRelationships":["duplicate_shipments"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"ecb59795-55b0-3921-9b70-12405d12bd9b","instanceIdentifier":"375287c5-019e-1000-6e76-8e20fb7dd6a1","name":"","source":{"id":"56f56d61-e3bd-386f-a70b-08628325971d","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"374c2ddc-019e-1000-8ca4-7a143c521af8"},"destination":{"id":"c8cc7953-725d-3adf-9bad-cd83ae0bf0ad","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"3752615c-019e-1000-60e4-f9dbe40c23d8"},"labelIndex":0,"zIndex":34,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"dfb50071-ef47-3c45-b79a-c524b14128a3","instanceIdentifier":"3756c201-019e-1000-1d5f-f8b9d3f49942","name":"","source":{"id":"3752f40b-019e-1000-2b70-00eb43a26889","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"14101397-5c00-3530-b0c4-75b39f354ac1"},"destination":{"id":"d7d2b40a-3b14-3528-8610-36dbbe73eff3","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"28d1128d-044e-319f-edc6-7b41ddccbf75"},"labelIndex":0,"zIndex":37,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"56a1a3d8-3693-3359-a2cf-ab5ee2adbdcc","instanceIdentifier":"9d56bb9c-e08f-30ad-e737-b26b700c0167","name":"","source":{"id":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"QueryRecord","comments":"","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141"},"destination":{"id":"e3de2aed-43ec-3f76-966a-25ff09451b7b","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PublishKafka","comments":"","instanceIdentifier":"faa207ce-0e8a-360d-f9b9-44ef21a11ac9"},"labelIndex":0,"zIndex":19,"selectedRelationships":["clean_records"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"f7d21c48-e4db-3b2e-b083-ec4817f71306","instanceIdentifier":"be393fd0-3521-39bc-465a-35bc4525257c","name":"","source":{"id":"d5db5203-a6b2-3189-9059-1daacbdd4f73","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ValidateRecord","comments":"","instanceIdentifier":"e37d61c7-97e0-3770-096f-4f16307ff415"},"destination":{"id":"a739095f-3ae2-3b17-844f-5e5849a57820","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ConvertRecord","comments":"","instanceIdentifier":"92d22464-4d1b-31be-d88c-14295be411cf"},"labelIndex":0,"zIndex":22,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"7ba990ad-a227-329e-ba9f-aae75758bb08","instanceIdentifier":"d7d35b01-6bd4-36d4-db82-49e65d992e2d","name":"","source":{"id":"d5db5203-a6b2-3189-9059-1daacbdd4f73","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ValidateRecord","comments":"","instanceIdentifier":"e37d61c7-97e0-3770-096f-4f16307ff415"},"destination":{"id":"cd55661a-0a55-3e54-946a-46838cbc0f11","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"8552e62b-54b9-38d5-8329-7968de3a6014"},"labelIndex":0,"zIndex":24,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"3db61c28-e930-3406-899f-d27ca097150c","instanceIdentifier":"374b8897-019e-1000-5df1-a6508ef84dbd","name":"","source":{"id":"d5db5203-a6b2-3189-9059-1daacbdd4f73","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ValidateRecord","comments":"","instanceIdentifier":"e37d61c7-97e0-3770-096f-4f16307ff415"},"destination":{"id":"c25b0d36-61d4-35df-b38d-4223e3959784","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"374b64d0-019e-1000-1b42-765370c5a5d4"},"labelIndex":0,"zIndex":32,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"c9beac9f-3a3b-321e-9c2c-87da24ee4c76","instanceIdentifier":"374aa1e5-019e-1000-3ac1-28475ccaec34","name":"","source":{"id":"d9e32f6e-cc78-3e04-98c2-94f13654acb4","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"000b33e9-3329-3885-ebbb-2d11a88aac2e"},"destination":{"id":"d9e32f6e-cc78-3e04-98c2-94f13654acb4","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"000b33e9-3329-3885-ebbb-2d11a88aac2e"},"labelIndex":0,"zIndex":31,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":5.0,"y":751.0},{"x":5.0,"y":801.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"5702e089-3e8f-3540-b2ae-057e793d1e1e","instanceIdentifier":"dda09578-d6f6-3b8e-ab5d-9a2442bbb256","name":"","source":{"id":"551d0247-9658-3079-838c-4ce9a860adda","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"UpdateRecord","comments":"","instanceIdentifier":"be4f5c2e-4408-3bd9-e98e-e42fa259db6e"},"destination":{"id":"b085fd97-2594-3ec5-8ef8-1cdbc743cfe7","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"17d62141-4af1-3843-6e6f-9b8cdbc55f4a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"4ce28dcc-f774-3f06-ac71-4d48fd8977d2","instanceIdentifier":"3760ea66-019e-1000-1389-30a156cdf5b1","name":"","source":{"id":"2399c182-5db2-3fcc-beca-d1ebdfd87eb8","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"QueryRecord","comments":"","instanceIdentifier":"194451d7-e1ae-3675-5676-6250aacc2141"},"destination":{"id":"37606a84-019e-1000-c2f5-76b825f780c0","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"84d32809-867e-3559-42f3-d9a1736032ba"},"labelIndex":0,"zIndex":40,"selectedRelationships":["missing_vlaues","invalid_weight"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"f5ed3b32-8934-3baa-b324-697bbe84de32","instanceIdentifier":"8d804561-d5c7-3419-bd22-c394cb57abb0","name":"","source":{"id":"d580cfe6-a730-328b-bd61-b80a782f8d50","type":"INPUT_PORT","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"transformation_input","instanceIdentifier":"12a42257-646a-3290-9af2-b5bc6de865fe"},"destination":{"id":"d5db5203-a6b2-3189-9059-1daacbdd4f73","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ValidateRecord","comments":"","instanceIdentifier":"e37d61c7-97e0-3770-096f-4f16307ff415"},"labelIndex":0,"zIndex":21,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"a5cdf4f7-8dfc-347f-bd18-0e6a9eb2d9f3","instanceIdentifier":"376118de-019e-1000-c68b-156ba260620c","name":"","source":{"id":"37606a84-019e-1000-c2f5-76b825f780c0","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"Set_Error_Metadata","comments":"","instanceIdentifier":"84d32809-867e-3559-42f3-d9a1736032ba"},"destination":{"id":"3752f40b-019e-1000-2b70-00eb43a26889","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"PutHDFS_Errors","comments":"","instanceIdentifier":"14101397-5c00-3530-b0c4-75b39f354ac1"},"labelIndex":0,"zIndex":41,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"5b3ce8f4-0d4f-321a-9eb2-ba6eaaa4599e","instanceIdentifier":"327c0b4a-97d5-3fcc-e951-0d6f4284206d","name":"","source":{"id":"a739095f-3ae2-3b17-844f-5e5849a57820","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"ConvertRecord","comments":"","instanceIdentifier":"92d22464-4d1b-31be-d88c-14295be411cf"},"destination":{"id":"d9e32f6e-cc78-3e04-98c2-94f13654acb4","type":"PROCESSOR","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"LogAttribute","comments":"","instanceIdentifier":"000b33e9-3329-3885-ebbb-2d11a88aac2e"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"cc9fdd19-cde0-3727-b012-8e2f8e25a78b","instanceIdentifier":"694cc11f-89ae-39f2-f3dd-3a30567b0491","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"19c3ff3b-aaf6-32d9-a106-bcc6989eb9d0","instanceIdentifier":"0e9ac49a-a9fa-3f2c-44ea-69a80ebe9370","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.9.0"},"properties":{"logistics_csv_schema":"{\n  \"type\": \"record\",\n  \"name\": \"logistics_csv_schema\",\n  \"fields\": [\n    { \"name\": \"event_id\", \"type\": \"string\" },\n    { \"name\": \"shipment_id\", \"type\": \"string\" },\n    { \"name\": \"vehicle_id\", \"type\": \"string\" },\n    { \"name\": \"driver_id\", \"type\": \"string\" },\n    { \"name\": \"city\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"latitude\", \"type\": \"double\" },\n    { \"name\": \"longitude\", \"type\": \"double\" },\n    { \"name\": \"speed_kmh\", \"type\": \"double\" },\n    { \"name\": \"package_weight_kg\", \"type\": \"double\" },\n    { \"name\": \"delivery_distance_km\", \"type\": \"double\" },\n    { \"name\": \"shipment_status\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"event_timestamp\", \"type\": \"string\" }\n  ]\n}","Validate Field Names":"true"},"propertyDescriptors":{"logistics_csv_schema":{"name":"logistics_csv_schema","displayName":"logistics_csv_schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Validate Field Names":{"name":"Validate Field Names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"77f5aab3-6f0c-3fea-8c5c-e7ba54cde242","instanceIdentifier":"0a15aa29-7224-366c-66f1-10b93b6cdcc6","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"a9456893-5fbe-3afb-b90a-fd4950632d49","instanceIdentifier":"20e61e1c-3433-32c8-5408-8e94e856e82b","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.9.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka1:19092,kafka2:19093,kafka3:19094","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"93871ba9-076c-361a-b41e-65cf89076dfa","instanceIdentifier":"bae6eac3-12ba-382b-0235-1b2ca86965fb","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":"19c3ff3b-aaf6-32d9-a106-bcc6989eb9d0","Treat First Line as Header":"true","Schema Access Strategy":"schema-name","Ignore CSV Header Column Names":"false","Schema Name":"logistics_csv_schema","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":"NULL\nN/A","Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"b32ee9e7-8842-3033-8d71-2aa210579eee","instanceIdentifier":"71a65a8c-4bf9-3392-9382-8218a21dbae7","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"},{"identifier":"68745137-500f-3533-819f-9bf42fb92057","instanceIdentifier":"0a47e97f-6902-3938-96fc-876446156175","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":"19c3ff3b-aaf6-32d9-a106-bcc6989eb9d0","Schema Access Strategy":"schema-name","Schema Name":"logistics_csv_schema","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f221bda-cd6b-3f50-9514-0227dc8e36d6"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"},{"identifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","instanceIdentifier":"004808d1-996f-3ec3-3e25-e0e445777030","name":"02_File_Chunking","comments":"","position":{"x":-544.0,"y":328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0c403a13-a768-3291-a84b-f3f8f4c982da","instanceIdentifier":"cf14a008-4fdf-3287-2c90-06bff3318cd6","name":"LogAttribute","comments":"","position":{"x":312.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"},{"identifier":"64b839a2-1da2-3cfb-9121-c84d77b6f2ba","instanceIdentifier":"8d65f5ea-223c-3675-1a76-622075a37f17","name":"SplitText","comments":"","position":{"x":-352.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Remove Trailing Newlines":"false","Maximum Fragment Size":"64 KB","Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"0"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"},{"identifier":"cc6ab6db-22e7-3c8f-b1ae-93f29003b267","instanceIdentifier":"4e45c5e7-b67a-37b5-0048-4499ea45cfd1","name":"UpdateAttribute","comments":"","position":{"x":-352.0,"y":160.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"pipeline_stage":"chunking","Delete Attributes Expression":null,"Store State":"Do not store state","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null,"chunk_processed_time":"${now()}"},"propertyDescriptors":{"pipeline_stage":{"name":"pipeline_stage","displayName":"pipeline_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"chunk_processed_time":{"name":"chunk_processed_time","displayName":"chunk_processed_time","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"}],"inputPorts":[{"identifier":"b490a254-291e-397d-8055-6328b39fc23d","instanceIdentifier":"252e1297-3ad9-302b-5c70-4e028f7007a6","name":"chunking_input","position":{"x":-296.0,"y":-272.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"}],"outputPorts":[{"identifier":"60ad6713-9837-3c59-a3b0-be02db67b1e9","instanceIdentifier":"e70607c8-1509-342e-d274-47c840d0c9ea","name":"to_transformation","position":{"x":336.0,"y":200.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"}],"connections":[{"identifier":"8f21a437-1515-374e-92ba-68e29c8ccca3","instanceIdentifier":"8ffc3b4c-5399-3535-c652-ca9a30f822f7","name":"","source":{"id":"cc6ab6db-22e7-3c8f-b1ae-93f29003b267","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"UpdateAttribute","comments":"","instanceIdentifier":"4e45c5e7-b67a-37b5-0048-4499ea45cfd1"},"destination":{"id":"60ad6713-9837-3c59-a3b0-be02db67b1e9","type":"OUTPUT_PORT","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"to_transformation","instanceIdentifier":"e70607c8-1509-342e-d274-47c840d0c9ea"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"},{"identifier":"4044df13-cfd1-3163-8c0d-c692d2387666","instanceIdentifier":"0335db8b-c204-3a2f-5a53-180ab6b88c51","name":"","source":{"id":"64b839a2-1da2-3cfb-9121-c84d77b6f2ba","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"SplitText","comments":"","instanceIdentifier":"8d65f5ea-223c-3675-1a76-622075a37f17"},"destination":{"id":"0c403a13-a768-3291-a84b-f3f8f4c982da","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"LogAttribute","comments":"","instanceIdentifier":"cf14a008-4fdf-3287-2c90-06bff3318cd6"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"},{"identifier":"d91a85fa-2371-37a0-96b4-dbce2cc1a57f","instanceIdentifier":"a13ff932-91e2-3eca-4c87-a9be8c1e3997","name":"","source":{"id":"b490a254-291e-397d-8055-6328b39fc23d","type":"INPUT_PORT","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"chunking_input","instanceIdentifier":"252e1297-3ad9-302b-5c70-4e028f7007a6"},"destination":{"id":"64b839a2-1da2-3cfb-9121-c84d77b6f2ba","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"SplitText","comments":"","instanceIdentifier":"8d65f5ea-223c-3675-1a76-622075a37f17"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"},{"identifier":"9d1bb2a1-ba35-327e-8ee3-4bdb595cdbc8","instanceIdentifier":"f2b9ca06-16c5-3c03-4578-1d0fa9e3c76d","name":"","source":{"id":"64b839a2-1da2-3cfb-9121-c84d77b6f2ba","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"SplitText","comments":"","instanceIdentifier":"8d65f5ea-223c-3675-1a76-622075a37f17"},"destination":{"id":"cc6ab6db-22e7-3c8f-b1ae-93f29003b267","type":"PROCESSOR","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"UpdateAttribute","comments":"","instanceIdentifier":"4e45c5e7-b67a-37b5-0048-4499ea45cfd1"},"labelIndex":0,"zIndex":2,"selectedRelationships":["splits"],"backPressureObjectThreshold":20000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ffaf2816-8b71-3385-ab98-95f4fe4de20d"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4bf00fbb-4308-3ff7-a736-9adaa4849bb9","instanceIdentifier":"cf6ec5d7-9141-389c-ba20-3071dd0e6701","name":"","source":{"id":"60ad6713-9837-3c59-a3b0-be02db67b1e9","type":"OUTPUT_PORT","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"to_transformation","instanceIdentifier":"e70607c8-1509-342e-d274-47c840d0c9ea"},"destination":{"id":"d580cfe6-a730-328b-bd61-b80a782f8d50","type":"INPUT_PORT","groupId":"6f221bda-cd6b-3f50-9514-0227dc8e36d6","name":"transformation_input","instanceIdentifier":"12a42257-646a-3290-9af2-b5bc6de865fe"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"},{"identifier":"f10db798-c7b2-3773-8287-da44a3e008f1","instanceIdentifier":"3790113c-7a04-378b-8009-ee1f830eabda","name":"","source":{"id":"ddfa7767-8255-3d70-961e-85d80be23b3a","type":"OUTPUT_PORT","groupId":"805aa015-0b29-3ad2-b0be-cc853b890656","name":"to_chunking","instanceIdentifier":"f79c2b75-b9ff-3e55-2bc0-bccbaf6fbd49"},"destination":{"id":"b490a254-291e-397d-8055-6328b39fc23d","type":"INPUT_PORT","groupId":"ffaf2816-8b71-3385-ab98-95f4fe4de20d","name":"chunking_input","instanceIdentifier":"252e1297-3ad9-302b-5c70-4e028f7007a6"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c041ca1d-a361-3cdc-96c9-99a7dca11976"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}