week 8/Nifi-data-ingestion-pipeline/nifi_pipeline.json
{"flowContents":{"identifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf","instanceIdentifier":"1248e61a-019e-1000-0821-db37eba77079","name":"Data Engineering Assignment","comments":"","position":{"x":-64.0,"y":-128.0},"processGroups":[{"identifier":"9166c525-694b-35f8-bd9d-82600cde5aba","instanceIdentifier":"993905de-593b-3499-e39b-815ddecff6e3","name":"1_Ingestion_Layer_Python","comments":"","position":{"x":-976.0,"y":-304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"32b8249e-781b-384f-ae7d-9b0ea31c0457","instanceIdentifier":"89790e0c-acea-3821-d297-4c1fa47a97c7","name":"FetchFile","comments":"","position":{"x":-280.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"},{"identifier":"e45bb8db-049e-3796-b9d9-a957377c43b4","instanceIdentifier":"6c5db535-270f-3902-5cb8-ada18f7b642f","name":"LogAttribute","comments":"","position":{"x":-520.0,"y":320.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"},{"identifier":"1ee9c9af-f247-3d3b-8c09-d6cf566d6c10","instanceIdentifier":"2c8d6b93-ada0-3f15-947a-be2092760f69","name":"ListFile","comments":"","position":{"x":-528.0,"y":-344.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/opt/data_input","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"4 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"}],"inputPorts":[],"outputPorts":[{"identifier":"ffd65000-ecb4-3b3d-9138-7bf634ca3bba","instanceIdentifier":"63c121e1-dc92-3075-0ac9-db35555baa62","name":"OUT_Unprocessed_Events","position":{"x":528.0,"y":24.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"}],"connections":[{"identifier":"a9d56315-9f77-31bf-a0b0-98a246d0e7ab","instanceIdentifier":"2ce56e41-ad05-3aff-3e09-d16af5612233","name":"","source":{"id":"1ee9c9af-f247-3d3b-8c09-d6cf566d6c10","type":"PROCESSOR","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"ListFile","comments":"","instanceIdentifier":"2c8d6b93-ada0-3f15-947a-be2092760f69"},"destination":{"id":"32b8249e-781b-384f-ae7d-9b0ea31c0457","type":"PROCESSOR","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"FetchFile","comments":"","instanceIdentifier":"89790e0c-acea-3821-d297-4c1fa47a97c7"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"},{"identifier":"ba6b430f-415d-3c36-af53-ef5c0f236641","instanceIdentifier":"2bf1906f-8bab-3d35-99a0-dec75efc9a56","name":"","source":{"id":"32b8249e-781b-384f-ae7d-9b0ea31c0457","type":"PROCESSOR","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"FetchFile","comments":"","instanceIdentifier":"89790e0c-acea-3821-d297-4c1fa47a97c7"},"destination":{"id":"e45bb8db-049e-3796-b9d9-a957377c43b4","type":"PROCESSOR","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"LogAttribute","comments":"","instanceIdentifier":"6c5db535-270f-3902-5cb8-ada18f7b642f"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"},{"identifier":"d2270b33-c1f5-3c0b-b67d-6cdcffd0ac3e","instanceIdentifier":"bd2d932a-c07e-399d-1b1e-a7d5e19460a3","name":"","source":{"id":"32b8249e-781b-384f-ae7d-9b0ea31c0457","type":"PROCESSOR","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"FetchFile","comments":"","instanceIdentifier":"89790e0c-acea-3821-d297-4c1fa47a97c7"},"destination":{"id":"ffd65000-ecb4-3b3d-9138-7bf634ca3bba","type":"OUTPUT_PORT","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"OUT_Unprocessed_Events","instanceIdentifier":"63c121e1-dc92-3075-0ac9-db35555baa62"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9166c525-694b-35f8-bd9d-82600cde5aba"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","instanceIdentifier":"57545103-d16b-3c36-98a7-e93ddac70877","name":"4_Load_Layer_HDFS","comments":"","position":{"x":240.0,"y":320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9f05e3be-1d22-3bec-8a9e-1efe7b4097d9","instanceIdentifier":"124df36c-019e-1000-fe5e-957a9d2adc64","name":"PutHDFS","comments":"","position":{"x":-208.0,"y":200.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/jdbc_drivers/core-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/user/itversity/transactions","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"5337a2a6-ee92-39ee-800f-f3540bd9ccc1","instanceIdentifier":"b07c3919-ecc3-3d34-7141-8c2592c0ed75","name":"MergeRecord","comments":"","position":{"x":-208.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Minimum Bin Size":"0 B","Maximum Bin Size":null,"Minimum Number of Records":"10","Max Bin Age":"15 secs","Record Writer":"beea7c55-c6ef-3327-962d-aa6013653456","Maximum Number of Bins":"10","Record Reader":"50cf3bbf-eaca-34b6-8dff-f46ae879fc21","Correlation Attribute Name":null,"Maximum Number of Records":"1000"},"propertyDescriptors":{"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Bin Size":{"name":"Minimum Bin Size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Bin Size":{"name":"Maximum Bin Size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Records":{"name":"Minimum Number of Records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Bins":{"name":"Maximum Number of Bins","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Records":{"name":"Maximum Number of Records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"fc65d267-6d45-3f9a-ac22-c0d31493a752","instanceIdentifier":"125017af-019e-1000-cfd1-1241aa09fcc9","name":"PutHDFS","comments":"","position":{"x":384.0,"y":24.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/jdbc_drivers/core-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/user/itversity/market_data","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"}],"inputPorts":[{"identifier":"d2fc7536-a1fa-3228-a3d9-9fe3e629a8aa","instanceIdentifier":"6f3beb67-2ac2-3884-6e1b-7ebdcbfe5b96","name":"IN_Cleaned_Transactions","position":{"x":-336.0,"y":-240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"04867402-b919-330f-9054-a67104735931","instanceIdentifier":"e048d54d-3647-32b2-857b-f90fd9054fcf","name":"IN_API_Data","position":{"x":528.0,"y":-240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"}],"outputPorts":[],"connections":[{"identifier":"668fbfa4-8305-3f49-8eb4-7f717dc474b6","instanceIdentifier":"125049a8-019e-1000-02ac-2736ef6552d3","name":"","source":{"id":"04867402-b919-330f-9054-a67104735931","type":"INPUT_PORT","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"IN_API_Data","instanceIdentifier":"e048d54d-3647-32b2-857b-f90fd9054fcf"},"destination":{"id":"fc65d267-6d45-3f9a-ac22-c0d31493a752","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"125017af-019e-1000-cfd1-1241aa09fcc9"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"b5036b73-b751-38d1-a9f6-39f25e8f00be","instanceIdentifier":"124e761c-019e-1000-5334-d1159fd9b91c","name":"","source":{"id":"9f05e3be-1d22-3bec-8a9e-1efe7b4097d9","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"124df36c-019e-1000-fe5e-957a9d2adc64"},"destination":{"id":"9f05e3be-1d22-3bec-8a9e-1efe7b4097d9","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"124df36c-019e-1000-fe5e-957a9d2adc64"},"labelIndex":0,"zIndex":3,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":268.8389434814453,"y":240.13134765625},{"x":268.8389434814453,"y":290.13134765625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"c82d45f0-ff4a-3565-b1da-d50260a12002","instanceIdentifier":"966e0fbf-770b-34e3-12a0-fa9da186e0a8","name":"","source":{"id":"d2fc7536-a1fa-3228-a3d9-9fe3e629a8aa","type":"INPUT_PORT","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"IN_Cleaned_Transactions","instanceIdentifier":"6f3beb67-2ac2-3884-6e1b-7ebdcbfe5b96"},"destination":{"id":"5337a2a6-ee92-39ee-800f-f3540bd9ccc1","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"MergeRecord","comments":"","instanceIdentifier":"b07c3919-ecc3-3d34-7141-8c2592c0ed75"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"3d34ae6b-007c-303d-8702-71f88eca94c7","instanceIdentifier":"124e49f7-019e-1000-eac0-a9c9b228cdb3","name":"","source":{"id":"5337a2a6-ee92-39ee-800f-f3540bd9ccc1","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"MergeRecord","comments":"","instanceIdentifier":"b07c3919-ecc3-3d34-7141-8c2592c0ed75"},"destination":{"id":"9f05e3be-1d22-3bec-8a9e-1efe7b4097d9","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"124df36c-019e-1000-fe5e-957a9d2adc64"},"labelIndex":0,"zIndex":2,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"05c0ea0d-d1d4-38d5-843f-c32b7e594a45","instanceIdentifier":"12506699-019e-1000-6edf-013ee2d9837d","name":"","source":{"id":"fc65d267-6d45-3f9a-ac22-c0d31493a752","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"125017af-019e-1000-cfd1-1241aa09fcc9"},"destination":{"id":"fc65d267-6d45-3f9a-ac22-c0d31493a752","type":"PROCESSOR","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"PutHDFS","comments":"","instanceIdentifier":"125017af-019e-1000-cfd1-1241aa09fcc9"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":859.5426025390625,"y":63.809239864349365},{"x":859.5426025390625,"y":113.80923986434937}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"50cf3bbf-eaca-34b6-8dff-f46ae879fc21","instanceIdentifier":"7d399273-7042-3fb2-f780-0999f95a2005","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"},{"identifier":"beea7c55-c6ef-3327-962d-aa6013653456","instanceIdentifier":"df820454-cde1-3026-2eef-ef7d64874a81","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"6a8124a2-c3d5-35be-a11b-64324ac843c2","instanceIdentifier":"eb59e387-b7ab-3cfb-f929-f2f6f305976e","name":"1B_Ingestion_Layer_API","comments":"","position":{"x":-768.0,"y":320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ff70bbfc-7084-345c-841f-d80e253589b7","instanceIdentifier":"b57897f5-d4f1-32b8-5e94-91f262601dc7","name":"InvokeHTTP","comments":"","position":{"x":-288.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.frankfurter.app/latest?from=USD","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a8124a2-c3d5-35be-a11b-64324ac843c2"}],"inputPorts":[],"outputPorts":[{"identifier":"c126aba5-7a44-391a-99e3-7a15f19d3b6a","instanceIdentifier":"f1faba94-4769-31f2-9a80-2389fe6d09e7","name":"OUT_API_Data","position":{"x":320.0,"y":56.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"6a8124a2-c3d5-35be-a11b-64324ac843c2"}],"connections":[{"identifier":"4b8e23df-06bd-3497-b70b-d2887c9be254","instanceIdentifier":"4ee35992-3389-33b2-2299-1bd323555aca","name":"","source":{"id":"ff70bbfc-7084-345c-841f-d80e253589b7","type":"PROCESSOR","groupId":"6a8124a2-c3d5-35be-a11b-64324ac843c2","name":"InvokeHTTP","comments":"","instanceIdentifier":"b57897f5-d4f1-32b8-5e94-91f262601dc7"},"destination":{"id":"c126aba5-7a44-391a-99e3-7a15f19d3b6a","type":"OUTPUT_PORT","groupId":"6a8124a2-c3d5-35be-a11b-64324ac843c2","name":"OUT_API_Data","instanceIdentifier":"f1faba94-4769-31f2-9a80-2389fe6d09e7"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a8124a2-c3d5-35be-a11b-64324ac843c2"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","instanceIdentifier":"bc83d248-67e5-3fab-22bc-2a854186efd6","name":"3_Transformation_Layer","comments":"","position":{"x":-312.0,"y":-32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"627a189f-eba6-3fb0-86a3-82361063acaf","instanceIdentifier":"25c2353a-fe37-3623-c1f8-9e0986c85e1b","name":"QueryRecord","comments":"","position":{"x":104.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"false","Valid_Enriched_Data":"SELECT \n  id, \n  user_id, \n  CAST(amount AS DOUBLE) AS amount, \n  CASE WHEN status = '???' THEN 'Unknown' ELSE status END AS status, \n  category, \n  \"timestamp\", \n  CURRENT_TIMESTAMP AS nifi_process_time \nFROM FLOWFILE \nWHERE id IS NOT NULL AND CAST(amount AS VARCHAR) <> 'INVALID_AMOUNT'","Default Decimal Scale":"0","Record Writer":"b15a71dc-f2df-3556-b909-9a19549bba6b","Record Reader":"113b5a7e-97b6-3f23-a464-c196c88ef8b2","Invalid_Data_DLQ":"SELECT * FROM FLOWFILE WHERE id IS NULL OR CAST(amount AS VARCHAR) = 'INVALID_AMOUNT'","Default Decimal Precision":"10"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Valid_Enriched_Data":{"name":"Valid_Enriched_Data","displayName":"Valid_Enriched_Data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Invalid_Data_DLQ":{"name":"Invalid_Data_DLQ","displayName":"Invalid_Data_DLQ","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"cfab0acf-5814-3ad7-b828-cecc4d534897","instanceIdentifier":"1e2efe46-6132-35af-d39b-f992bb5578b7","name":"LogAttribute","comments":"","position":{"x":448.0,"y":192.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"07ba3ae9-019e-1000-77f4-f71609a1bf19","instanceIdentifier":"b48d21d2-c902-36f5-493f-7e440df05274","name":"Log_Duplicates","comments":"","position":{"x":-552.0,"y":136.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"77e77275-56e8-3a0d-9530-4d43d889bd75","instanceIdentifier":"f9f90c3b-6f0b-3eee-4d7c-68a72f82f9bb","name":"DeduplicateRecord","comments":"","position":{"x":-552.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.DeduplicateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Cache Identifier":null,"Cache Entry Identifier":"false","Record Hashing Algorithm":"SHA-256","Deduplication Strategy":"multiple","Include Zero Record FlowFiles":"true","Filter Capacity Hint":"25000","Distributed Map Cache Client":"28d8f003-b989-3a9c-b73c-3e3c2fb67a78","Bloom Filter Certainty":"0.10","Record Writer":"b15a71dc-f2df-3556-b909-9a19549bba6b","Record Reader":"113b5a7e-97b6-3f23-a464-c196c88ef8b2","Filter Type":"hash-set","record_id_key":"/id"},"propertyDescriptors":{"Cache Identifier":{"name":"Cache Identifier","displayName":"Cache Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Hashing Algorithm":{"name":"Record Hashing Algorithm","displayName":"Record Hashing Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Deduplication Strategy":{"name":"Deduplication Strategy","displayName":"Deduplication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Filter Capacity Hint":{"name":"Filter Capacity Hint","displayName":"Filter Capacity Hint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Map Cache Client":{"name":"Distributed Map Cache Client","displayName":"Distributed Map Cache Client","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bloom Filter Certainty":{"name":"Bloom Filter Certainty","displayName":"Bloom Filter Certainty","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Filter Type":{"name":"Filter Type","displayName":"Filter Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record_id_key":{"name":"record_id_key","displayName":"record_id_key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"inputPorts":[{"identifier":"0c1e9d4b-f5a9-3b4a-842e-6d78c34e8f26","instanceIdentifier":"a3bef56a-2380-3c52-9bd5-059a4eeacab5","name":"IN_Unprocessed_Events","position":{"x":-488.0,"y":-288.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"1131ce3a-ab92-3fb6-bef3-bebd9f1cda8b","instanceIdentifier":"922c21fb-f267-37de-9eb4-d77990893fda","name":"IN_Unprocessed_Records","position":{"x":520.0,"y":-288.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"outputPorts":[{"identifier":"9831cc37-7563-30d3-8169-1cc5dc567e8c","instanceIdentifier":"3fcd7a59-c1f9-3084-74c7-bd62f2125590","name":"OUT_Cleaned_Transactions","position":{"x":-32.44394174622482,"y":177.42223135972608},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"connections":[{"identifier":"649b52eb-83b9-35f1-8e38-0671a0b6a622","instanceIdentifier":"32e7de6e-d566-3f20-6ee3-615cb1fc33fe","name":"","source":{"id":"b92c7af0-117b-3697-8f11-1fd30b90ccf4","type":"FUNNEL","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"Funnel","comments":"","instanceIdentifier":"b1072cfd-7b10-30ac-e1e6-a018576d9797"},"destination":{"id":"627a189f-eba6-3fb0-86a3-82361063acaf","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"QueryRecord","comments":"","instanceIdentifier":"25c2353a-fe37-3623-c1f8-9e0986c85e1b"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"0aba32e8-29ba-39d2-af7a-87db801b596a","instanceIdentifier":"64b7ab43-7df1-328c-d3d2-7bff8b6adf89","name":"","source":{"id":"0c1e9d4b-f5a9-3b4a-842e-6d78c34e8f26","type":"INPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"IN_Unprocessed_Events","instanceIdentifier":"a3bef56a-2380-3c52-9bd5-059a4eeacab5"},"destination":{"id":"b92c7af0-117b-3697-8f11-1fd30b90ccf4","type":"FUNNEL","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"Funnel","comments":"","instanceIdentifier":"b1072cfd-7b10-30ac-e1e6-a018576d9797"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"c3f90eab-4db1-30d5-9057-d93e7cb0698f","instanceIdentifier":"2a3c168e-4921-3789-605e-aeb8ac053799","name":"","source":{"id":"627a189f-eba6-3fb0-86a3-82361063acaf","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"QueryRecord","comments":"","instanceIdentifier":"25c2353a-fe37-3623-c1f8-9e0986c85e1b"},"destination":{"id":"cfab0acf-5814-3ad7-b828-cecc4d534897","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"LogAttribute","comments":"","instanceIdentifier":"1e2efe46-6132-35af-d39b-f992bb5578b7"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Invalid_Data_DLQ"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"389a888a-0f22-3815-8de3-f894aae5d431","instanceIdentifier":"5cc625b1-45ae-373c-0938-0d02b6a6c495","name":"","source":{"id":"77e77275-56e8-3a0d-9530-4d43d889bd75","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"DeduplicateRecord","comments":"","instanceIdentifier":"f9f90c3b-6f0b-3eee-4d7c-68a72f82f9bb"},"destination":{"id":"07ba3ae9-019e-1000-77f4-f71609a1bf19","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"Log_Duplicates","comments":"","instanceIdentifier":"b48d21d2-c902-36f5-493f-7e440df05274"},"labelIndex":0,"zIndex":6,"selectedRelationships":["duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"ecc4a87b-1fc4-3f73-b3ac-c033af026ad7","instanceIdentifier":"72825812-6705-3fa1-bcd4-2e2bafaf867d","name":"","source":{"id":"1131ce3a-ab92-3fb6-bef3-bebd9f1cda8b","type":"INPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"IN_Unprocessed_Records","instanceIdentifier":"922c21fb-f267-37de-9eb4-d77990893fda"},"destination":{"id":"b92c7af0-117b-3697-8f11-1fd30b90ccf4","type":"FUNNEL","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"Funnel","comments":"","instanceIdentifier":"b1072cfd-7b10-30ac-e1e6-a018576d9797"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"5f80bb66-3cfc-3aab-92ca-d89ecb4aeaa9","instanceIdentifier":"36ec3f59-6815-3b7b-24fb-68baa5f94c0e","name":"","source":{"id":"627a189f-eba6-3fb0-86a3-82361063acaf","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"QueryRecord","comments":"","instanceIdentifier":"25c2353a-fe37-3623-c1f8-9e0986c85e1b"},"destination":{"id":"77e77275-56e8-3a0d-9530-4d43d889bd75","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"DeduplicateRecord","comments":"","instanceIdentifier":"f9f90c3b-6f0b-3eee-4d7c-68a72f82f9bb"},"labelIndex":0,"zIndex":4,"selectedRelationships":["Valid_Enriched_Data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"cf6d7845-6e19-3575-8648-705356a0bbf1","instanceIdentifier":"7c153a7f-b8aa-3b20-4b35-4454802f49e2","name":"","source":{"id":"77e77275-56e8-3a0d-9530-4d43d889bd75","type":"PROCESSOR","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"DeduplicateRecord","comments":"","instanceIdentifier":"f9f90c3b-6f0b-3eee-4d7c-68a72f82f9bb"},"destination":{"id":"9831cc37-7563-30d3-8169-1cc5dc567e8c","type":"OUTPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"OUT_Cleaned_Transactions","instanceIdentifier":"3fcd7a59-c1f9-3084-74c7-bd62f2125590"},"labelIndex":0,"zIndex":7,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"labels":[],"funnels":[{"identifier":"b92c7af0-117b-3697-8f11-1fd30b90ccf4","instanceIdentifier":"b1072cfd-7b10-30ac-e1e6-a018576d9797","position":{"x":120.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"controllerServices":[{"identifier":"113b5a7e-97b6-3f23-a464-c196c88ef8b2","instanceIdentifier":"52cde9a0-8b10-37d7-434f-6dd756abfe38","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"b15a71dc-f2df-3556-b909-9a19549bba6b","instanceIdentifier":"b99bb266-d36f-3c8e-cb09-efb3e1d5d34f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"66b65465-2254-3b5b-a0f0-5412f7e17e71","instanceIdentifier":"25873db6-f05b-3324-6519-21cd47305aef","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.9.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"Port":"4557","Maximum Cache Entries":"10000","Maximum Read Size":"1 MB"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"listenPortDefinition":{"transportProtocol":"TCP","applicationProtocols":["nifi.apache.org/cache"]}},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Read Size":{"name":"Maximum Read Size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"},{"identifier":"28d8f003-b989-3a9c-b73c-3e3c2fb67a78","instanceIdentifier":"99b7d0c6-7386-3893-87c6-8bf3c3a14e9b","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.9.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43","instanceIdentifier":"328b3078-1702-3521-c9b8-af334a467d78","name":"2_Ingestion_Layer_Postgres","comments":"","position":{"x":328.0,"y":-304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"01c00cc4-0016-3bec-982f-823a77b2ed2e","instanceIdentifier":"e7e86b47-3668-3ce8-b561-283d68c41acb","name":"QueryDatabaseTableRecord","comments":"","position":{"x":-504.0,"y":-248.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTableRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Table Name":"db_transactions","Set Auto Commit":null,"Max Wait Time":"0 seconds","Normalize Table/Column Names":"false","Database Connection Pooling Service":"ec35de43-83dd-33ef-a826-d6d663060dd0","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Output Batch Size":"0","Use Avro Logical Types":"false","Database Type":"Generic","Columns to Return":null,"Record Writer":"8b3cb31a-43a6-38f3-b3b8-507844c2d189","Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table/Column Names":{"name":"Normalize Table/Column Names","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43"}],"inputPorts":[],"outputPorts":[{"identifier":"82de9cc3-a660-31e1-88f0-3b3e45fe0ae4","instanceIdentifier":"76072712-d4aa-3579-7c97-b994276c7f4d","name":"OUT_Unprocessed_Records","position":{"x":232.0,"y":-48.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43"}],"connections":[{"identifier":"063f7b77-58ad-34fe-98ce-97dc6e2bc72b","instanceIdentifier":"7568c458-a0c6-38cd-a86a-666eab483401","name":"","source":{"id":"01c00cc4-0016-3bec-982f-823a77b2ed2e","type":"PROCESSOR","groupId":"0daff598-caa8-32cf-a9c8-3a5d77675a43","name":"QueryDatabaseTableRecord","comments":"","instanceIdentifier":"e7e86b47-3668-3ce8-b561-283d68c41acb"},"destination":{"id":"82de9cc3-a660-31e1-88f0-3b3e45fe0ae4","type":"OUTPUT_PORT","groupId":"0daff598-caa8-32cf-a9c8-3a5d77675a43","name":"OUT_Unprocessed_Records","instanceIdentifier":"76072712-d4aa-3579-7c97-b994276c7f4d"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8b3cb31a-43a6-38f3-b3b8-507844c2d189","instanceIdentifier":"aee6a8ac-b2d1-3d3f-4b43-f5855b166e85","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43"},{"identifier":"ec35de43-83dd-33ef-a826-d6d663060dd0","instanceIdentifier":"0464ec2e-2292-35f5-4377-8bbf0fdc88ff","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/jdbc_drivers/postgresql-42.7.11.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://postgres_db:5432/nifi_database","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"nifi_user","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0daff598-caa8-32cf-a9c8-3a5d77675a43"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8d92fba0-bcd7-335c-9361-c2b7bada2e28","instanceIdentifier":"fdf13985-0180-3802-d512-bf8bb090a896","name":"","source":{"id":"ffd65000-ecb4-3b3d-9138-7bf634ca3bba","type":"OUTPUT_PORT","groupId":"9166c525-694b-35f8-bd9d-82600cde5aba","name":"OUT_Unprocessed_Events","instanceIdentifier":"63c121e1-dc92-3075-0ac9-db35555baa62"},"destination":{"id":"0c1e9d4b-f5a9-3b4a-842e-6d78c34e8f26","type":"INPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"IN_Unprocessed_Events","instanceIdentifier":"a3bef56a-2380-3c52-9bd5-059a4eeacab5"},"labelIndex":0,"zIndex":2,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"689ececa-87a6-32ed-94f7-824be734b87a","instanceIdentifier":"19e85e97-8c51-3ad3-55d9-8e0bd2a4fa84","name":"","source":{"id":"9831cc37-7563-30d3-8169-1cc5dc567e8c","type":"OUTPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"OUT_Cleaned_Transactions","instanceIdentifier":"3fcd7a59-c1f9-3084-74c7-bd62f2125590"},"destination":{"id":"d2fc7536-a1fa-3228-a3d9-9fe3e629a8aa","type":"INPUT_PORT","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"IN_Cleaned_Transactions","instanceIdentifier":"6f3beb67-2ac2-3884-6e1b-7ebdcbfe5b96"},"labelIndex":0,"zIndex":3,"selectedRelationships":[""],"backPressureObjectThreshold":5000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"b81bb9d6-7b8e-3448-8d8f-33b4c06ef238","instanceIdentifier":"756c5826-a34f-3403-f292-52182811a4ce","name":"","source":{"id":"c126aba5-7a44-391a-99e3-7a15f19d3b6a","type":"OUTPUT_PORT","groupId":"6a8124a2-c3d5-35be-a11b-64324ac843c2","name":"OUT_API_Data","instanceIdentifier":"f1faba94-4769-31f2-9a80-2389fe6d09e7"},"destination":{"id":"04867402-b919-330f-9054-a67104735931","type":"INPUT_PORT","groupId":"c39cbc6a-af0e-391a-a4d2-5648659ff2fe","name":"IN_API_Data","instanceIdentifier":"e048d54d-3647-32b2-857b-f90fd9054fcf"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"},{"identifier":"8de95d78-7a99-364e-91d2-9db9f2aca605","instanceIdentifier":"8c60fb36-ebee-36f5-a69a-eaae0e68d382","name":"","source":{"id":"82de9cc3-a660-31e1-88f0-3b3e45fe0ae4","type":"OUTPUT_PORT","groupId":"0daff598-caa8-32cf-a9c8-3a5d77675a43","name":"OUT_Unprocessed_Records","instanceIdentifier":"76072712-d4aa-3579-7c97-b994276c7f4d"},"destination":{"id":"1131ce3a-ab92-3fb6-bef3-bebd9f1cda8b","type":"INPUT_PORT","groupId":"3e2bd9aa-f137-3b67-a89a-70ab58bb0756","name":"IN_Unprocessed_Records","instanceIdentifier":"922c21fb-f267-37de-9eb4-d77990893fda"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4df1b46c-7e55-3820-9600-230d1f4fcdbf"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}